.add-property{
    margin: 50px;
    padding: 25px;
    background-color: #F9F4F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

form{
    display: flex;
    flex-flow: column;
    width: 75%;
}

.input{
    width: 100%;
    padding: 10px;
    display: flex;
}

.input  :not(label) {
    width: 100%;
    border-radius: 10px;
}

.input label{
    padding-right: 20px;
    width: 25%;
}

button{
    text-decoration: none;
    font-size: 2em;
    background-color: #502F4C;
    border: solid 3px black;
}

button:hover{
    cursor: pointer;
    color: #70587C;
    
}