.properties{
    display: flex;
}

.filter-bar{
    background-color: white;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.property-cards{
   display: flex;
   flex-flow: wrap;
   justify-content: space-around;
}

.filter-label{
    padding: 10px;
}

.filter-link{
    margin: 0px;
    padding: 10px;
    padding-left: 20px;
    text-decoration: none;
    color: black;   
    width: 100%;
}

.filter-link:hover{
    color: #c8b8db;
}